
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins';
}

:root {
  --color-primario: #fa9be0;
  --color-secundario: rgba(0,0,0,0.5);
}
