*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url('./assets/fondoHorizontal.jpg');
  background-size: cover;
  background-color: antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}