@keyframes volteo {
    0% {
      transform: rotateY(0deg);  
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);  
    }
  }

  /* .banner{
    background-image: url(../../assets/fondo.jpg);
    background-size: cover;
    border: 1px solid black;
    width:100%;
   
  } */

  
  .voltear {
    animation: volteo 5s infinite; 
    border-radius: 50%;
    padding: 10px;
    border: 1px solid antiquewhite;
    /* transform-style: preserve-3d;
    perspective: 1000px;  */
  }

  .btnDownload{
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-top:20px;
    filter: drop-shadow(1px 2px 5px black);
  }

  .btnDownload a{
    color: black;
    font-weight: bold;
  }

  .btnDownload:hover{
    background-color: black;
    color:antiquewhite;
  }
  .btnDownload:hover a{
    color:antiquewhite;
  }